# Firebase Admin private keys (DO NOT COMMIT)
admin-scripts/*.json

# Environment variables
*.env

# Node modules
node_modules/

# Build output
dist/
dist-ssr/

# Logs
logs
*.log

# System and IDE files
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

